@font-face {
    font-family: "Xoireqe";
    src: url("../fonts/XOIREQE.eot"); /* IE9 Compat Modes */
    src: url("../fonts/XOIREQE.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/XOIREQE.otf") format("opentype"), /* Open Type Font */
      url("../fonts/XOIREQE.svg") format("svg"), /* Legacy iOS */
      url("../fonts/XOIREQE.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/XOIREQE.woff") format("woff"), /* Modern Browsers */
      url("../fonts/XOIREQE.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }